# FTP Configuration
FTP_HOST=ftp.example.com
FTP_USER=your_ftp_username
FTP_PASS='your_ftp_password'
FTP_PORT=21
FTP_TARGET_DIR=/public_html/

# SSH Configuration (Required for unzipping the archive on the server)
SSH_HOST=ssh.example.com
SSH_PORT=22
SSH_USER=your_ssh_username
SSH_PASSWORD='your_ssh_password'

# SSH target directory is an absolute path on the server filesystem
SSH_TARGET_DIR=/home/user/domains/example.com/public_html
WEBSITE_URL='https://example.com'
